@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add an Engineer to this Machine: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Associate" />
}

<p>@Html.ActionLink("Back To Machines", "Index")</p>