@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h3>Machine Details</h3>

<h5>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h5>

@if (@Model.Engineers.Count == 0)
{
  <h2>This Machine is not assigned to any engineers</h2>
}
else
{

  <h4>Engineers assigned to this Machine</h4>
  <ul>
    @foreach (var join in Model.Engineers)
    {
      <li>@join.Engineer.Name</li>
      @using (Html.BeginForm("DeleteEngineer", "Machines"))
      {
        @Html.Hidden("joinId", @join.MachineEngineerId)
        <input type="submit" value="Deassociate" />
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to Machines", "Index")</p>
<p>@Html.ActionLink("Add an Engineer", "AddEngineer", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Remove Machine", "Delete", new { id = Model.MachineId })</p>