@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add a Machine to this Engineer: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Associate" />
}

<p>@Html.ActionLink("Back To Engineers", "Index")</p>